div(class="row")
  div(class="text-center fs-5 mt-3 mb-3") You can access the followings addresses:
  
    div(class="text-left fs-6 mt-3 mb-3")
    a(href="/api/products/list" class="text-dark") '/api/products/list',
    br
    a(href="/api/products/list/id" class="text-dark") '/api/products/list/id',
    br
    a(href="/api/products/save" class="text-dark") '/api/products/save/') (to save a product),
    br
    a(href="/api/products/update/id" class="text-dark") '/api/products/update/id' (only POST),
    br
    a(href="/api/products/delete/id" class="text-dark") '/api/products/delete/id' (only DELETE)