<div class="container">
  <div class="row">
    <div class="text-center fs-2 mt-3">
      Products List:
    </div>
  </div>
  <div class="row">
    <% if (productsExist){ %>
    <%- include('./partials/products')%>
    <% } else{ %>
    <%- include('./partials/noproducts')%>
    <%}%>
  </div>
</div>