<div class="container">
            <div class="row">
                <h2 id="display" class="text-center mt-2">Input your product to save:</h2>
            </div>
            <form class="row d-flex justify-content-center" action="api/products/save" method="post">
                <div class="col-12 mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title"placeholder="Insert your product title...">
                </div>
                <div class="col-12 mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Insert your product price...">
                </div>
                <div class="col-12 mb-3">
                    <label for="thumbnail" class="form-label">Link to the image:</label>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail"placeholder="Insert your product image link...">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-outline-dark btn-lg mb-3">Submit</button>
                </div>
            </form>
    </div>
    </div>