.form{
    width: 60%;
    margin: auto;
  }
  .title, h6, h5, .submit-btn{
    text-align: center;
  }
  .row-form {
    position: relative;
    margin-bottom: 1.2rem;
  }
  input {
    position: relative;
    z-index:1;
    width:100%;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid grey;
  }
  input:focus {
    outline: none;
  }
  input ~ label {
    font-size: 0.9rem;
    position: absolute;
    left:0;
    width: 100%;
    transition: 0.3s;
    z-index:0;
  }
  input:focus ~ label {
    position: absolute;
    left: 0;
    bottom: 0;
    top: -1rem;
    font-size: 0.8rem;
    font-weight:700;
    transition: 0.3s;
  }
  input ~ .form-border {
    position: absolute;
    left:0;
    bottom:0;
    width:0;
    background-color: #faf0dc;
    height: 4px;
    transition: 0.3s;
  }
  input:focus ~ .form-border {
    width: 100%;
    transition: 0.3s;
  }
  input:focus {
    border-bottom: none;
  }
  .hasContent{
    position: absolute;
      left: 0;
      bottom: 0;
      top: -1rem;
      font-size: 0.8rem;
      font-weight:700;
      transition: 0.3s;
  }
  .submit-form {
    border: 0.1rem solid #faf0dc;
    background-color: transparent;
    border-radius: 0.8rem;
    font-size: 1.3rem;
  }
  .submit-form:hover {
    background-color: #faf0dc;
  }
  #submit {
    display: flex;
    justify-content: center;
    width: 100%;
  }