.email-form {
    margin-top: 0.8rem;
    width: 60%;
    margin:auto;
  }
  .effect-input{
    position:relative;
    margin: 1rem 0rem 0.5rem 0rem;
    width:100%;
  }
  .hasContent{
    position: absolute;
      left: 0;
      bottom: 0;
      top: -1rem;
      font-size: 0.8rem;
      font-weight:700;
      transition: 0.3s;
  }
  .error-alert {
    border-radius: 0.8rem;
    border: 2px #ED1D35 solid;
    background-color: #F9B3BB;
    width: 60%;
    margin: auto;
    margin-top: 0.5rem;
  }
  .error-top {
    position: relative;
    display: flex;
    align-content: center;
    max-height: 1.8
  rem
  ;
  }
  .error-header {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
  }
  .error-btn {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    margin-top: 0.3rem;
  }
  .error-msg {
    margin: 0.5rem 0rem 0.2rem 0.4rem;
  }
  .msg-card {
    border-radius: 0.5rem;
    border-color: 3px solid #faf0dc;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
  }
  .msg-bottom {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
  }
  .msg-btn, #submit {
    border: none;
    background-color: #faf0dc;
    border-radius: 0.8rem;
  }
  textarea {
    border: 1px solid grey;
    border-radius: 0.8rem;
  }
  .msg-body{
    display: flex;
    flex-direction: column;
    padding:1rem;
    max-height: 100vw;
    overflow-y: scroll;
  }
  .received-msg, .sent-msg {
    margin-bottom: 0.6rem;
  }
  .received-msg{
    text-align: left;
    width: 70%;
  }
  .sent-msg{
    text-align:right;
    align-self: flex-end;
    width: 70%;
  }
  .username{
    font-weight: 550;
    font-style: italic;
  }
  .date{
    margin-right: 0.4rem;
  }
  .users{
    margin-top: 1rem;
  }
  .users-header {
    position: sticky;
    top:0;
  }
  .users-list{
    padding: 0.5rem;
    max-height: 100vw;
    overflow-y: scroll;
  }
  .online-icon {
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.3rem;
  }
