.upper-body {
  display:flex;
  justify-content: space-between;
  margin: 0 3rem 0 3rem;
  position: relative;
}
.filter-btn {
  border: none;
  border-radius: 0.8rem;
  background-color: #faf0dc; 
  cursor: pointer;
}
.filter-dropdown {
  z-index:1;
  display: none;
  position:absolute;
  background-color: #faf0dc;
  border-radius: 0.8rem;
  text-align: center;
  right:0;
}
.filter-label {
  margin-top: 0.3rem;
}
.price{
  display: flex;
}
.stock{
  display: flex;
}
.number-input {
  width: 50%;
  text-align: center;
}
.number-input::placeholder {
  color: black;
}
.filter-input, .number-input {
    border: 1.5px solid white;
    border-radius: 0.4rem;
    background-color: transparent;
 }
.apply-filter {
  margin: 0.5rem 0rem 0.3rem 0rem;
  border: none;
  background-color: white;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.apply-filter:hover{
  background-color: #faf0dc;
  font-weight: 600;
  transition: 0.2s;
}
.products-title {
  margin-right: 5rem;
}
.products-body {
  margin:auto;
  margin-top: 1rem;
  padding: 0.2rem;
  border-radius: 0.8rem;
  border: 3px solid #faf0dc;
  width: 95%;
  max-height: 100vw;
  overflow-y: scroll;
}
.products-hr{
  border: 1px solid grey;
  width: 97%;
  margin:auto;
  margin-bottom: 1rem;
}
.product {
  display: flex;
  gap: 3px;
  padding: 0.2rem;
}
.product-img {
  width: 600px;
  max-width: 35%; 
  height: auto;
}
.product-description {
  text-align: left;
}
.product-title{
  font-size: 0.9rem;
}
.product-price {
  font-size: 1.5rem;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}
.add-remove-btns {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.add-remove-icon{
  background-color: transparent;
  border: none;
  margin:auto;
  flex-grow: 1;
  cursor: pointer;
}
.add-icon{
  max-width: 10vw;
}
.remove-icon{
  max-width: 8vw;
}