<div class="container">
  <div class="row">
    <div class="text-center fs-2 mt-3">
      Products List:
    </div>
  </div>
  <div class="row">
    {{#if productsExist}}
    {{> products}}
    {{/if}}
    {{#if errorExists}}
    {{> noproducts}}
    {{/if}}
  </div>
</div>