<header>
    <div class="title">
      <h4>Products Form</h4>
    </div>
  </header>
  <form class="form">
    <div class="row-form">
      <input type="text" id="title">
      <label for="title">Title</label>
      <span class="form-border"/>
    </div>
    <div class="row-form">
      <input type="text">
      <label for="description">Description</label>
      <span class="form-border"/>
    </div>
    <div class="row-form"><input type="text">
      <label for="img">Image link</label>
      <span class="form-border"/>
    </div>
    <div class="row-form"><input type="text">
      <label for="code">Code</label>
      <span class="form-border"/>
    </div>
    <div class="row-form">
      <input type="number">
      <label for="stock">Stock</label>
      <span class="form-border"/>
    </div>
    <div class="row-form"><input type="number">
      <label for="price">Price</label>
      <span class="form-border"/>
    </div>
    <div class="row-form" id="submit">
      <button class="submit-form" type="submit">Save</button>
    </div>
  </form>
</div>