<header>
    <div class="title">
      <h4>Messages</h4>
    </div>
  </header>
  <div class="email-form">
    <h6>Input your email for sending messages:</h6>
    <div class="effect-input">
      <input type="text" class="label-styled-input"id="email">
      <label>Email</label>
      <span class="form-border"></span>
    </div>
    <div class="submit-btn">
      <button id="submit">Submit</button>
    </div>
  </div>
  <section class="msg-card">
    <div class="msg-body">
      <div class="received-msg">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, animi. Repellendus dignissimos labore sint quod consequatur reprehenderit iste? Fugit quidem sed id quas dicta quis nulla nemo tenetur. Quidem, sed?</span>
      </div> <br/>
      <div class="sent-msg">
        <span><span class="date"></span><span class="username">Lautaro Manson: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sed, officiis illo, porro ipsa perferendis reprehenderit nihil molestias quae quis doloribus laudantium, facilis veniam. Minima dolore totam eos iure iste?</span>
      </div>
      <div class="received-msg">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, animi. Repellendus dignissimos labore sint quod consequatur reprehenderit iste? Fugit quidem sed id quas dicta quis nulla nemo tenetur. Quidem, sed?</span>
      </div> <br/>
      <div class="sent-msg">
        <span class="date">2021-10-12 14:11:00</span><span class="username">Lautaro Manson: </span><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sed, officiis illo, porro ipsa perferendis reprehenderit nihil molestias quae quis doloribus laudantium, facilis veniam. Minima dolore totam eos iure iste?</p>
      </div>
    </div>
    <div class="msg-bottom">
      <textarea name="" id="" cols="90" rows="1"></textarea>
      <button type="submit" class="msg-btn">Send</button>
    </div>
  </section>
</div>