<div class="body">
    <header>
      <div class="title">
        <h4>Products List</h4>
      </div>
    </header>
    <div class="products-body">
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      <div class="product">
          <img src="https://i5.walmartimages.com/asr/67915ce5-df83-4e53-825e-82f2b7c80136.d994d81e0cf8aee3a395cb0b933d06a4.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="">
        <div class="product-description">
          <span class="product-title">HARRIS FARMS CERAMIC NESTING EGGS WHITE</span><br>
          <span class="product-price">$ 4019.16</span>
        </div>
      </div><hr class="products-hr"/>
      
    </div>
  </div>