.products-body {
    margin:auto;
    margin-top: 1rem;
    padding: 0.2rem;
    border-radius: 0.8rem;
    border: 3px solid #faf0dc;
    width: 95%;
    max-height: 100vw;
    overflow-y: scroll;
  }
  .products-hr{
    border: 1px solid grey;
    width: 97%;
    margin:auto;
    margin-bottom: 1rem;
  }
  .product {
    display: flex;
    gap: 3px;
    padding: 0.2rem;
  }
  img {
    width: 600px;
    max-width: 35%; 
    height: auto;
  }
  .product-description {
    text-align: left;
  }
  .product-title{
    font-size: 0.9rem;
  }
  .product-price {
    font-size: 1.5rem;
    margin-left: 0.2rem;
    margin-top: 0.8rem;
  }