<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th scope="row">{{{this.id}}}</th>
        <td>{{{this.title}}}</td>
        <td>{{{this.price}}}</td>
        <td><img src="{{{this.thumbnail}}}" class="w-100 h-100" /></td>
      </tr>
    {{/each}}
  </tbody>
</table>