div(class="container")
    if errorExists
        div(class="alert alert-danger alert-dismissible fade show mt-2" role="alert")
            =message
            button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
    
    if messageExists
        div(class="alert alert-success alert-dismissible fade show mt-2" role="alert")
            =message
            button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
    
    div(class="row")
        h2(id="display" class="text-center mt-2") Input your progress bar data
    
    form(class="row d-flex align-items-center" action="http://localhost:8080/data" method="get")
        div(class="col-12 mb-3")
            label(for="title" class="form-label") % Percent
            input(type="number" min="0.1" step="0.1" class="form-control" id="percent" name="percent" placeholder="Insert the percent...")
        
        div(class="col-12 mb-3")
            label(for="price" class="form-label") Minimum: 
            input(type="number" min="0.1" step="0.1" max="99.9" class="form-control" id="minimum" name="minimum"
                placeholder="Insert the minimum...")
        
        div(class="col-12 mb-3")
            label(for="thumbnail" class="form-label") Maximum: 
            input(type="number" min="0.1" step="0.1" max="99.9" class="form-control" id="maximum" name="maximum"
                placeholder="Insert the maximum...")
        
        div(class="col-4")
            button(type="submit" id="button" class="btn btn-outline-dark btn-lg mb-3") Save data
        div(class="col-4")
            a(class="btn btn-outline-dark btn-lg mb-3" href="http://localhost:8080/bar") View bar
        
        
    
