{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parser": "@babel/eslint-parser",
    "plugins": [
        
    ],
    "rules": {
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"]
    }
}
